.my-card {
  background-color: white;
  width: 606px;
  height: 550px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 37%;
    margin-top: 1.5%;
    margin-bottom: 98px;
    box-shadow: none !important;
}
.my-card-second {
    margin-top: 1.5% !important;
}
