.my-card {
  background-color: white;
  width: 35%;
  height: 550px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 37%;
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
