.my-card {
  background-color: white;
  width: 606px;
  height: 535px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 37%;
    margin-top: 4%;
    margin-bottom: 98px;
    box-shadow: none !important;
}
