.alignLeft {
  text-align: left;
}

.css-1s2u09g-control {
  border-radius: 24px !important;
}

.drop-padding {
  padding: 40px;
}

.amount-box-outer {
  /* border: 1px solid rgb(139, 7, 7) !important; */
  border: 1px solid rgb(207, 207, 207);
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 24px;
  width: 100%;
  height: 38px;
}

.amount-box-inner {
  border: 1px solid rgb(207, 207, 207);
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  height: fit-content;
  outline: none !important;
  margin-left: 20px;
  padding-left: 2%;
}

.copy-token {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;

  background-color: #6287d019;
  /* padding: 2px 4px; */
  border-radius: 3px;
}

.copy-link {
  text-decoration: none;
  display: inline;
  width: 20%;
  margin-left: 2%;
}

.fl {
  flex: 6;
}

.fl-img {
  flex: 1;
}

.exchane-img {
  margin-top: 45px;
  margin-left: 8px;
  margin-right: 19px;
  width: 28px;
  height: 27px;
}

.parent-row {
  display: flex;
  justify-content: space-between;
}

.input-box-1 {
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
  padding: 2.5% 4%;
  box-sizing: border-box;
  border-radius: 24px;
  width: 100%;
  margin-left: 20px;
}

.input-box-1>div {
  width: 243px;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #00000029 !important;
  border: 1px solid #d8d8d8 !important;
  border-radius: 24px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* height: 48px !important; */
  box-shadow: none !important;
}

.css-1n7v3ny-option {
  background-color: transparent !important;
  margin-top: 10px;
}

.input-box-1 .css-26l3qy-menu {
  margin-top: 8px !important;
  /* background-color: transparent !important; */
  opacity: 1;
  border: 1px solid #D8D8D8 !important;
  box-shadow: 0px 3px 6px #00000029 !important;
}

.block-chain-container {
  /* border: 1px solid rgb(139, 7, 7) !important; */
  border: 1px solid rgb(207, 207, 207);
  padding: 0px 10px 3px 1px;
  display: flex;
  border-radius: 5px;
}

.block-chain-right {
  width: 90%;
  padding: auto;
}

.rm-border {
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none !important;
}

.rm-border-amount {
  border: 0px;
  margin: 0px;
}

.submit-button {
  background-color: #103f9c;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin-top: 35px;
  margin-right: 30px;
  width: 534px;
  height: 48px;
  margin-left: 1px;
  /* background: #103f9c 0% 0% no-repeat padding-box; */
  border-radius: 27px;
  /* opacity: 0.5; */
}

.disabled-submit-button {
  background-color: #103f9c;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin-top: 35px;
  margin-right: 30px;
  width: 534px;
  height: 48px;
  margin-left: 1px;
  border-radius: 27px;
  opacity: 0.5;
}

.category-label {
  margin-top: 20px;
}

.left-label {
  display: flex;
  flex-direction: left;
  align-items: left;
  justify-content: left;
  font-size: 15px !important;
  font-family: Inter;
  letter-spacing: 0px;
  color: #1d1d1d !important;
  opacity: 1;
  margin-left: 28px;
  margin-top: 8px;
}

.hint-label {
  display: flex;
  flex-direction: left;
  align-items: left;
  justify-content: left;
  margin-top: 8px;
  padding-left: 228px;
}

/* .col-cards-gap {
    gap: 6.57%;
  } */
@media screen and (min-width: 1399px) {
  .cards-col-gap {
    gap: calc(16% / 2.5);
  }
}

/* @media screen and (min-width: 1399px) {
    .cards-col-gap {
      gap: calc(16% / 2.4);
    }
  } */
@media screen and (max-width: 1399px) {
  .cards-col-gap {
    gap: calc(16% / 2.4);
  }
}

@media screen and (max-width: 1398px) {
  .cards-col-gap {
    gap: calc(16% / 2.1);
  }
}

/* @media screen and (max-width: 1400px) {
    .cards-col-gap {
      gap: calc(16% / 2.4);
    }
  } */
@media screen and (max-width: 1248px) {
  .cards-col-gap {
    gap: calc(16% / 2.232);
  }
}

@media screen and (max-width: 1094px) {
  .cards-col-gap {
    gap: calc(16% / 2.31);
  }
}

@media screen and (max-width: 1028px) {
  .cards-col-gap {
    gap: calc(16% / 2.32);
  }
}

@media screen and (max-width: 1519px) {
  .col-cards-gap {
    gap: 6.57%;
  }
}

@media screen and (max-width: 1399px) {
  .col-cards-gap {
    gap: 6.7%;
  }
}

@media screen and (max-width: 1399px) {
  .col-cards-gap {
    gap: 7.86%;
  }
}

@media screen and (max-width: 1352px) {
  .col-cards-gap {
    gap: 7.79%;
  }
}

@media screen and (max-width: 1343px) {
  .col-cards-gap {
    gap: 7.79%;
  }
}

@media screen and (max-width: 1320px) {
  .col-cards-gap {
    gap: 7.78%;
  }
}

@media screen and (max-width: 1321px) {
  .col-cards-gap {
    gap: 7.78%;
  }
}

@media screen and (max-width: 1319px) {
  .col-cards-gap {
    gap: 7.74%;
  }
}

@media screen and (max-width: 1297px) {
  .col-cards-gap {
    gap: 7.64%;
  }
}

@media screen and (max-width: 1256px) {
  .col-cards-gap {
    gap: 7.6%;
  }
}

@media screen and (max-width: 1240px) {
  .col-cards-gap {
    gap: 7.5%;
  }
}

@media screen and (max-width: 1203px) {
  .col-cards-gap {
    gap: 7.4%;
  }
}

@media screen and (max-width: 1167px) {
  .col-cards-gap {
    gap: 7.3%;
  }
}

@media screen and (max-width: 1134px) {
  .col-cards-gap {
    gap: 7.2%;
  }
}

@media screen and (max-width: 1097px) {
  .col-cards-gap {
    gap: 7.1%;
  }
}

@media screen and (max-width: 1062px) {
  .col-cards-gap {
    gap: 7%;
  }
}

@media screen and (max-width: 1027px) {
  .col-cards-gap {
    gap: 6.9%;
  }
}

@media screen and (max-width: 1118px) {
  .col-cards-gap {
    gap: 7.3%;
  }
}

/* @media screen and (max-width: 1115px) {
    .col-cards-gap {
      gap: 7.2%;
    }
  } */
@media screen and (max-width: 1113px) {
  .col-cards-gap {
    gap: 6.8%;
  }
}

@media screen and (max-width: 1114px) {
  .col-cards-gap {
    gap: 6.5%;
  }
}

/* @media screen and (max-width: 1024px) {
    .col-cards-gap {
      gap: 0% !important;
    }
  } */
@media screen and (max-width: 820px) {
  .col-cards-gap {
    gap: 0% !important;
  }
}

@media screen and (max-width: 764px) {
  .upload-file-outer {
    width: 100%;
    /* margin: auto; */
  }
}

.fw-b {
  font-weight: bold;
}

.fw-600 {
  font-weight: 600;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
  color: rgb(0, 0, 0);
}

.fs-32 {
  font-size: 32px;
}

.c-b {
  color: #191919;
}

.c-bl {
  color: "#366EEF";
}

.c-g {
  color: "#707070";
}

.pt-50 {
  padding-top: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 5px;
}

.main-container {
  width: 50%;
  margin: auto;
  margin-top: 90px;
}

.img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 244px;
  border: 1px solid #c8c8c8;
  border-radius: 7px;
}

.img-sec-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  border: 1px solid #c8c8c8;
  border-radius: 7px;
}

.upload-icon {
  width: 100px;
  height: 100px;
}

/* mobile-view */
@media screen and (max-width: 426px) {
  .main-container {
    width: 86%;
    margin: auto;
    margin-top: 60px;
  }

  .fs-32 {
    font-size: 18px;
  }

  .title {
    text-align: center;
  }

  .img-div {
    width: 240px;
    height: 240px;
  }

  .img-sec-div {
    height: 200px;
  }
}

.token-select>div {
  width: 100%;
  /* height: 48px; */
}

/* tab-view */
@media screen and (min-width: 426px) and (max-width: 769px) {
  .main-container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }

  .title {
    text-align: center;
    font-size: 20px;
  }

  .pt-50 {
    padding-top: 44px;
  }

  .img-div {
    width: 340px;
    height: 340px;
  }
}

.token-select>div {
  width: 100%;
  /* height: 48px; */
}

.destination>input {
  width: 100%;
  height: 38px;
  margin-left: 1px;
}

.image-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 28px;
}

.asset-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8.36px;
}

.main-head {
  /* margin-left: 101px; */
  text-align-last: center;
  margin: 79px 0 0 201px;
  text-align: center;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #102c78;
  opacity: 1;
  padding-top: 62px;
}

.asset-flex>.sub-content {
  font-family: "Inter";
  font-size: 15px;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: 500;
}

.asset-flex>.content {
  font-family: "Inter";
  font-size: 15px;
  letter-spacing: 0px;
  color: #505050;
  opacity: 1;
  font-weight: 500;
}

.second-p {
  color: #1d1d1d !important;
}

.done-button {
  width: 362px;
  height: 48px;
  /* UI Properties */
  background: #0542ea 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
}

.cancel-button {
  width: 260px;
  height: 48px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d8d8d8;
  border-radius: 27px;
  opacity: 1;
  font-family: "Inter";
  font-size: 16px;
  letter-spacing: 0px;
  color: #505050;
}

.confirm-button {
  width: 260px;
  height: 48px;
  /* UI Properties */
  background: #2358e5 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
}

.mb-23 {
  margin-bottom: 23px !important;
  border: 1px solid #d8d8d8 !important;
  opacity: 1;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.modal-header {
  display: block !important;
}

.review {
  text-align-last: center;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0px;
  color: #1d1d1d;
  opacity: 1;
}

.token-img {
  width: 86px;
  height: 86px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
}

._2Jtxm ._2kL0S,
._2Jtxm ._2JvrO {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #2358e5 !important;
  opacity: 1 !important;
  color: #2358e5 !important;
}

._2Jtxm._35Ago ._2kL0S {
  width: 32px !important;
  height: 32px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #2358e5 !important;
  opacity: 1 !important;
  color: #2358e5 !important;
  animation: _JAh3L 400ms ease forwards;
}

._2Jtxm._2ZUAI ._2JvrO {
  color: white;
  animation: _3SDnc 400ms ease-in-out forwards;
  width: 32px !important;
  height: 32px !important;
  background: #20aa15 0% 0% no-repeat padding-box !important;
  border: 1px solid #20aa15 !important;
  opacity: 1;
}

.done {
  display: flex;
  justify-content: center;
  margin: 0 0 43px 0;
}

.modal-content {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 30px #0000001a !important;
  border-radius: 12px !important;
  opacity: 1 !important;
}

.css-14el2xx-placeholder {
  color: #9D9D9D !important;
}

/* .css-fjmcia-control{
  height: 46px !important;
} */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9D9D9D !important;
  opacity: 1;
  /* Firefox */
}

.css-1pahdxg-control {
  border-color: #ffffff !important;
  background-color: none !important;

  border-radius: 30px !important;
  box-shadow: 0 0 0 0.28px #bcbcbc !important;
  border: none !important;
}

.btn-connect {
  color: #2358E5 !important;
  border: 1px solid #2358E5;
  border-radius: 27px;
  outline: none;
}


.btn-connect:hover,
.btn-connect:active,
.btn-connect:focus {
  color: #2358E5 !important;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}