.App {
    font-family: sans-serif;
    text-align: center;
 
    /* height: 30%; */
    padding: 30px;
  }
  .indexedStep {
    color: #2358E5;
    top: 68px;
    left: 1002px;
    width: 32px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 1px !important;
    border-color  : #2358E5 !important;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    
    /* background-color: #20AA15; */
    
  }


  
  .test {
    position: absolute;
    margin-top: 60px;
    color: black;
    white-space: nowrap;
  }
  