.App {
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
  }
  .indexedStep {
    color: white;
    width: 35px;
    height: 35px;
    font-size: 12px;
    background-color: green;
    border-radius: 50%;
    border-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: green;
  }
  
  .test {
    position: absolute;
    margin-top: 60px;
    color: black;
    white-space: nowrap;
  }
  