.pool-box{
    margin: 70px 16% 0 27%;
    
}
.home-button{
    border: none;
    /* text-align: left; */
    font: normal normal medium 14px/17px Inter;
    letter-spacing: 0px;
    font-size: 17px;
    font-family: inter;
    color: #102C78;
    opacity: 1;
    background: transparent;
    width: 60px;
    height: 17px;
}
.XDC-button{
    width: 60px;
    height: 32px;
    background: #EBF1FF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    font: normal normal medium 16px/20px Inter;
letter-spacing: 0px;
color: #2358E5;
}
.heading-p{
    width: 70px;
    height: 17px;
    text-align: left;
    font: normal normal medium 14px/17px Inter;
    letter-spacing: 0px;
    color: #646464;
    opacity: 1;
}
.subheading-p{
    width: 106px;
    height: 26px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 22px/26px Inter;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}
.pool-compo>p {
    width: 183px;
    height: 24px;
    text-align: left;
    font: normal normal 600 20px/24px Inter;
    letter-spacing: 0px;
    color: #101010;
    opacity: 1;
}
.add-liquidity{
    width: 127px;
height: 36px;
/* UI Properties */
background: #2358E5 0% 0% no-repeat padding-box;
border-radius: 26px;
opacity: 1;
text-align: center;
font: normal normal medium 16px/20px Inter;
letter-spacing: 0px;
color: #FFFFFF;
border: none;
}