.drawer-content {
  padding-top: 40px !important;
}
.drawer-content > div {
  background: #102c78 0% 0% no-repeat padding-box !important;
}
.list-text {
  width: 44px;
  height: 19px;
  font-size: 15px;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0px;
  color: #97aff4;
  opacity: 1;
  margin-right: 100px;

  
  
}
.list-item {
  margin-bottom: 18px !important;
}
.footer-input {
  width: 114px;
  height: 32px;
  /* UI Properties */
  background: #0e276c 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  margin-left: 11px;
}
.powered {
  text-align: left;
  font-size: 12px;
  font-family: "Inter";
  letter-spacing: 0px;
  color: #D9E3FF;
  opacity: 1;
}

.mapTab-selected-mode {
  font-size: 12px;
  color: #09184b;
}
::placeholder { 
  color: #95AEF4 !important;
  opacity: 1; 
}
