.pool-box{
    margin: 70px 16% 0 27%;
    
}
.investment-div{
    display: flex;
    justify-content: center;
}
.investment-div>p{
    width: 234px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal 600 30px/36px Inter;
    letter-spacing: 0px;
    color: #102C78;
    opacity: 1;
}
.faq{
    margin-right: 0;
    margin-top: 118px;
    margin-bottom: 69px;
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
    font: normal normal normal 15px/19px Inter;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_row-title-text__1MuhU {
    text-align: left;
    font: normal normal normal 15px/19px Inter;
    letter-spacing: 0px;

}
.searchbar{
    position: relative !important;
    top: -289px !important;
    left: 243px !important;
    
}
.searchbar>input{
    width: 166px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 26px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 1;
    border: none
    
    
}
.searchicon{
    width: 45px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 26px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 1;
    border: none 
    
}
.nav-tabs {
    border-bottom: none !important;
}
link.active {
    color: #495057;
    background-color: none !important;
    border-color: none !important;
    /* 1pxborder: solid; */
    
    /* border-bottom-color: #2149B9; */
    border-bottom: 2px solid #2149B9 !important;
}
.new-pair {
    position: absolute;
    top: 193px;
    /* left: 1761px; */
    margin: 0 0 0 50.5%;
}
.new-button {
    width: 121px;
height: 36px;
/* UI Properties */
background: #2358E5 0% 0% no-repeat padding-box;
border-radius: 26px;
opacity: 1;
text-align: center;
font: normal normal medium 16px/20px Inter;
letter-spacing: 0px;
color: #FFFFFF;
border: none;
}